.layout {
	background: red;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.layout-header {
		height: 64px;
		background: gray;
		position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;

	}

	.layout-middle {
		margin-top: 64px;
		flex: 1;
		background: #fff;
		display: flex;
		.layout-sider {
			    flex: 0 0 200px;
			    max-width: 200px;
			    min-width: 200px;
			    width: 200px;
			    
			    background: #495060;
			    
			    color: #fff;
			    
			    .layout-sider-nav {
			    	position: fixed;
		        	top: 64;
		        	left: 0;
		        	// height: 200px;
			    	width: 200px;
			    	min-width: 200px;
			    	// overflow: scroll;
			    	overflow-y: scroll;
			    }
			    
			    
		}
		.layout-content {
			flex: 1;
			display: flex;
			flex-direction: column;


			.layout-content-tabnavbar {
				height: 49px;
				min-height: 49px;
				max-height: 49px;
				border-bottom: 1px solid #e7e7e7;
				box-sizing:border-box;
				// background: red;
				position: fixed;
				top: 113;
				left: 200;
				z-index: 9999;
				width: 100vw;
				background: #fff;

				.tabnav {
					display: flex;
					height: 49px;
					align-content: center;
					overflow: hidden;
					li {
						// width: 80px;
						font-size: 14px;
						// background: #f8f8f8;
						padding: 14px 24px;
					    position: relative;
					    cursor: pointer;
					    z-index: 1;
					    &:hover {
					    	background: #f8f8f8;
					    }
					    border-right: 1px solid #e7e7e7;
					    border-bottom: 1px solid #e7e7e7;
					    transition: all .2s ease-in-out;
					    i {
					    	margin-right: 8px;
					    }
					}

					.active {
						background: #fff;
						border-bottom: none;
						&:hover {
					    	background: #fff;
					    }
					}
				}

				// margin-bottom: 49px;
				// .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab
				 
				

			}
			.layout-content-breadcrumb {
				height: 25px;
				min-height: 25px;
				max-height: 25px;
				// border-bottom: 1px solid #eee;
				padding-left: 16px;
				// margin-top: 49px;
			}

			.layout-content-main {
				flex: 1;
				margin-top: 49px;
				// width: 100%;
				// background: gray;
			}
		}
	}

	.layout-footer {
		position:fixed;
		width: 100vw;
		bottom: 0;
		height: 40px;
		background-color: #f8f8f8;
	    // border-color: #e7e7e7;
	    // border: 1px;
	    border-top: 1px solid #e7e7e7;
	}
}
// .layout-content-tabnavbar {
// 	.ivu-tabs.ivu-tabs-card {
// 	> .ivu-tabs-bar {
// 		.ivu-tabs-tab {
// 			border-radius: 0;
// 			border: none;
// 			border-right: 1px solid #dddee1;
// 			margin-right: 0;
// 		}
// 	}
					
					
// }
// }



// .ivu-tabs-bar {
// 	border: 20px solid red;
// }