 .layout {
       

        display: flex;
        min-height: 100vh;
        flex-direction: column;

        .layout-header {
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
            // box-sizing:border-box;
            // border-bottom: 1px solid #e7e7e7;
            
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            height: 60px;
            width: 100%;
            display: flex;
            // align-items: center;
            background: #464c5b;
            .layout-logo {
                width: 200px;
                align-self: center;
                text-align:center;
                color: #fff;
                font-size: 24px;

               
            }

            .layout-nav {
                flex: 1;
                background: #fff;
                display: flex;
                justify-content: space-between;
                .ivu-menu {
                        
                        .ivu-menu-item {
                            border-color: #fff;
                            &.ivu-menu-item-active,
                            &:hover {
                                // border-bottom: 2px solid #3399ff;
                                a {
                                    color: #3399ff;
                                }
                            }
                            a {
                                color: #657180;
                            }
                        }

                        .ivu-menu-submenu {
                            border-color: #fff;
                            z-index:99999;
                            &.ivu-menu-item-active,
                            &:hover {
                                // border-bottom: 2px solid #3399ff;
                                
                            }
                            .ivu-menu-item {
                                &.ivu-menu-item-active,
                                &:hover {
                                    border-bottom: 0;
                                    a {
                                        color: #3399ff;
                                    }
                                }
                            }
                        }

                    }
            }

        }

        .layout-main {
            flex:1;
            
            display: flex;
            .layout-left {
                width: 200px;
                background: #464c5b;
                position:fixed;
                left:0;
                top:60;
                overflow-y: scroll;
                // min-height: 100vh;
                margin-top: 60px;
                flex: 0 0 200px;

                // .layout-sider-nav {
                //     position: fixed;
                //     top: 60;
                //     left: 0;
                //     // height: 200px;
                //     width: 200px;
                //     min-width: 200px;
                //     background: #464c5b;
                //     // overflow: scroll;
                //     overflow-y: scroll;
                // }
            }    
            .layout-right {
                flex:1;
                margin-top: 60px;
                width: 100%;
                padding-left: 200px;
                background-color: #F5F5F5;
                .layout-content {
                    flex:1;
                    padding: 16px 16px 56px 16px;
                    margin-top: 91px;
                    background-color: #F5F5F5;
                }   
                .layout-footer {
                    box-shadow: 0 1px 1px rgba(0,0,0,.1);
                    background: #eee;
                    padding-right: 200px;
                    align-self:center;
                    position: fixed;
                    bottom: 0;
                    left: 200px;
                    z-index: 10;
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    text-align:center;
                    

                }
            }
            

        }

                
    }