.tab-navigation-bar {
				height: 91px;
				min-height: 91px;
				max-height: 91px;
				border-bottom: 1px solid #f7f7f7;
				box-sizing:border-box;
				// box-shadow: 0 5px 0 0 #red;
				// border-bottom-color: rgb(255,255,255);
				position: fixed;
				top: 113;
				left: 200;
				z-index: 9999;
				width: 100vw;
				background: #fff;
				.tabnavs {
					height: 49px;
					min-height: 49px;
					max-height: 49px;
					border-bottom: 1px solid #e7e7e7;
					box-sizing:border-box;

					.tabnav {
						display: flex;
						height: 49px;
						align-content: center;
						border: none;
						// border-bottom: 1px solid #e7e7e7;
						// box-sizing:border-box;
						overflow: hidden;
						li {
							font-size: 14px;
							// background: #f8f8f8;
							padding: 14px 10px;
						    position: relative;
						    // cursor: pointer;
						    z-index: 1;
						    &:hover {
						    	background: #f8f8f8;
						    	cursor: pointer;
						    	color: #2d8cf0;
						    	.tabnav-close {
									color: #495060;
								}

						    	
						    }
						    border-right: 1px solid #e7e7e7;
						    border-bottom: 1px solid #e7e7e7;
						    transition: all .2s ease-in-out;
						    
						    .tabnav-close {
						    	margin-left: 5px;
						    	&:hover {
						    		color: red;
						    	}
						    }
						}

						.active {
							background: #fff;
							border-bottom: none;
							color: #2d8cf0;
							.tabnav-close {
								color: #495060;
							}
							&:hover {
						    	background: #fff;
						    }
						}
					}

				}
				
				
				.breadcrumb {
					padding: 10px 16px;
				}	 
				

			}